* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #0b1416;
}

.container {
  width: 700px;
  padding: 45px;
  text-align: center;
  background: #111c1f;
  border: 2px solid #00b3b3;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 179, 179, 0.25);
}

input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #00b3b3;
  outline: none;
  border-radius: 10px;
  background: #0b1416;
  color: white;
  font-size: 17px;
}

input::placeholder {
  color: #8aa5a8;
}

button {
  margin-top: 18px;
  padding: 12px 35px;
  border: none;
  border-radius: 10px;
  background: #00b3b3;
  color: #071012;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00dddd;
  transform: translateY(-2px);
}

h2 {
  margin-top: 30px;
  font-size: 22px;
  line-height: 1.7;
  color: #00dddd;
}
h1 {
  color: #00d9d9;
  font-size: 32px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

p {
  color: #b8c7c9;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 30px;
}

p strong {
  color: #00d9d9;
}